streamlit
beautifulsoup4
requests
selenium
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
faiss-cpu==1.7.4
sentence-transformers
pypdf